.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px 10%;
  background: #f7f7f7;
}

.stats h3 {
  font-size: 32px;
  color: #00beae;
}

@media (max-width: 700px) {
  .stats {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
