.btn{
  border:none;
  border-radius:15px;
  cursor:pointer;
  font-weight:600;
  font-size:15px;
  padding:12px 18px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn.help{
  background: #f7f7f7fa;
  color:#222;
  width:195px;
  height:50px;
  border: 2px solid #e1e1f5c7;
}

.btn.primary{
  background:var(--accent);
  color:#111;
  width:199px;
  height:50px;
  background:#FFCC40;
  border:none;
}
